@charset "utf-8";
 	#contacttablepagebox {
        position:absolute;
	    width: 100%;
	    height: 100%;
	    z-index:0;
		background: black;
	    margin:0 auto;
	}
	.variables {
        display:none;
 	}
    /* table header box */	
	#contacttableheaderbox {
        position:relative;
	    top:5%;
        width:30%;
        border:1px solid grey;
        border-radius:5px;
        margin:0 auto;
	    text-align: center;
	    color: white;
	    background-color: #3B393A;
    }
 	#contacttabletableheaderbox {
        position:relative;
	    top:8%;
        height:5%;
        width:80%;
        border:1px solid grey;
        border-radius:5px;
        margin:0 auto;
		background: #3B393A;
    }
 	#contacttableheadertable {
        table-layout:fixed;
        width:100%;
		height: 100%;
 	}	  
	#contacttableheadertable th,td {
        padding: 5px;
    }
	#contacttableheadertable th {
        color: white;
        background-color: #3B393A;
    }
    #contacttableheadertable tr:nth-child(even) { /*(even) or (2n 0)*/
        background: #DCDCDC;
    }
    #contacttableheadertable tr:nth-child(odd) { /*(odd) or (2n 1)*/
        background: WHITE;
    }
	#contacttablebox{
        position:relative;
	    top:9%;
        height:70%;
        width:80%;
        border:1px solid grey;
        border-radius:5px;
		overflow-y: scroll;
        margin:0 auto;
    }
    #contacttable {
        table-layout:fixed;
        width:100%;
        overflow: scroll;
	}	  
	#contacttable th,td {
        padding: 5px;
    }
	#contacttable th {
        color: white;
        background-color: blue;
    }
    #contacttable tr:nth-child(even) { /*(even) or (2n 0)*/
        background: #DCDCDC;
    }
    #contacttable tr:nth-child(odd) { /*(odd) or (2n 1)*/
        background: WHITE;
    }
	.contacttablecol1{
        padding: 5px;
  	    text-align: left;
    }
	.contacttablecol2{
        padding: 5px;
  	    text-align: left;
	}
	.contacttablecol3{
        padding: 5px;
  	    text-align: left;
	}
	.contacttablecol4{
        padding: 5px;
  	    text-align: left;
	}
	.contacttablecol5{
        padding: 5px;
  	    text-align: left;
		white-space: pre;
	}
	.contacttablecolscrollbar{
        width: 17px;
  	    text-align: left;
	}
	.contacttablecolhidden{
	    display: none;
	}
	#contacttablefooterbox {
        position:relative;
	    top:10%;
        width:60%;
		height: 27px;
        border:1px solid grey;
        border-radius:5px;
        margin:0 auto;
	    text-align: center;
	    color: white;
	    background-color: #3B393A;
    }
 	/* Styles add account button*/
	#contacttableadd {
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	/* Styles update account button */
	#contacttabledone{
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	#contacttableprint{
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	#contactformdone{
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	#contactformcancel{
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	#contactformprint{
        position:relative;
        border:1px solid grey;
        border-radius:5px;
	    display:inline-block;	
		background: white;
		color: black;
	    margin:2px 3px 0px 3px;
    }
	#contactformcontainer {
	    display: none;
        position:absolute;
	    width: 100%;
	    left: 0%;
	    height: 100%;
	    z-index:10;
        background: black;
		color: white;
	    margin:0 auto;
    }
	.contactformheader{
	    position:relative;
	    width:30%;
	    margin:0 auto;
	    text-align:center;
	    border:1px solid gray;
	    border-radius:5px;
		background: #3B393A;
		color: white;
	}
	.contactformfieldrow {
        position:relative;
        width: 100%;
	    margin: 15px 0 0 0;
	}
	/** This styles the field name and positions it in the row */ 
	.contactformfieldcol1{
  	    display: inline-block;
        position:relative;
        width:15%;
		vertical-align: top;
        text-align: right;
	}
	/** This styles the input field and positions it in the row */ 
	.contactformfieldcol2 {
	    display: inline-block;
        position: relative;
	    left: 1%;
        width: 27%;
		vertical-align: top;
        text-align: left;
	}
	.contactformfieldcol3 {
	    display: inline-block;
        position: relative;
	    left: 2%;
        width: 20%;
		vertical-align: top;
        text-align: right;
	}
	.contactformfieldcol4 {
	    display: inline-block;
        position: relative;
	    left: 2%;
        width: auto;
		vertical-align: top;
        text-align: left;
	}
	.contactformsavecancelbutton {
        position:relative;
	    top:10%;
        width:60%;
		height: 28px;
        border:1px solid grey;
        border-radius:5px;
        margin:0 auto;
	    text-align: center;
	    color: white;
        background-color: #3B393A;
    }
    #popup{
        position:absolute;
	    display:none;
  	    z-index:300;
	    top:500px;
	    left:650px;
	    border: 1px solid black;
	    background:grey;
	    color:white;
	    box-sizing: border-box;
	    width: 500px;
	    height: auto;
	    word-wrap: break-word;
    }